<html>
<head>
</head>
<body>
<h1>Add a new BOOk </h1>
{{form_start(form)}}
<tr><td>Title</td><td>{{form_widget(form.title)}}</td></<tr>
<tr><td>nbrPage</td><td>{{form_widget(form.nbrPage)}}</td></<tr>
<tr><td>author</td><td>{{form_widget(form.author)}}</td></<tr>
{{form_end(form)}}
</body>
</html>

